/* Estilo de formulario de contacto */

.componentBox{
    /* border: rgb(255, 0, 149) solid; */
    width: 80%;
    min-width: 250px;
    max-width: 960px;
    margin: auto;
}

form {
    margin:0%;
    background:  darkgray;
    width: 100%;    
    display:flex;
    justify-content: space-around;    
    flex-direction: row;
    flex-wrap: wrap;
          
}

form .row {
    /* border:rgb(255, 149, 0) solid; */
    width:100%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;        
}

form .srow1 {
    /* border: green solid; */
    width:45%;
    align-items:start;
}

form .srow2 {
    /* border: green solid; */
    width:45%;
}

form .rowMensaje{
    /* border:red solid; */
    width:100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}

textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize:vertical;*/
}

form input{
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;    
}

.submit{
    background-color: #04AA6D;
    border:none;
    border-radius: 4px;
    margin: 5px;
}

.submit:hover{
    background-color: green;
    border: green solid;
}