<div class="componentBox">
    <form action="">
        
        <div class="row">
            <div class="srow1">
                <label for="nmbr">Nombre</label>
                <input type="text" name="nombre" id="nmbr">
            </div>
            <div class="srow2">
                <label for="aplld">Apellido</label>
                <input type="text" name="apellido" id="aplld">
            </div>
        </div>
    
        <div class="row">
            <div class="srow1">
                <label for="mprs">Empresa</label>
                <input type="text" name="empresa" id="mprs">
            </div>
            <div class="srow2">
                <label for="psto">Puesto</label>
                <input type="text" name="puesto" id="psto">
            </div>
        </div>
    
        <div class="row">
            <div class="srow1">
                <label for="mail">e-mail</label>
                <input type="text" name="email" id="mail">
            </div>
            <div class="srow2">
                <label for="tlfn">Tel/Cel</label>            
                <input type="text" name="telefono" id="tlfn"> 
            </div>
        </div>
    
        <div class="rowMensaje">            
            <label for="mnsj">Mensaje</label><br>
            <textarea name="mensaje"  maxlength="500" id="mnsj" rows="10" style="width:100%; min-width:80%"></textarea>
        </div>
    
        <div class="rowSubmit">
            <input class="submit" type="submit">
        </div>
    
    </form>
</div>

