<div class="componentBox">
    <div class="barraSuperior">
        <div class="box1"><img src="../../../assets/apLogo.png" alt="Logo de argentina programa"><div class="subtitle">#Yo Programo</div></div>
        <div class="box2">
            <button (click)="login()" *ngIf="!isLogged">LogIn</button>
            <button (click)="onLogOut()" *ngIf="isLogged" style="background-color:rgb(255, 212, 185); color:rgb(105, 0, 0); border-radius: 1rem">LogOut</button>
            <div class="redes">
                <a href="https://www.linkedin.com/in/christianefont/"><img src="../../../assets/linkedInLogo.png" alt="Logo de Linkedin"></a>
                <a href="https://github.com/ChrisEFont/"><img src="../../../assets/gitHubLogo.png" alt="Logo de GitHub"></a>
                <!-- <img src="icono.png" alt=""> -->
            </div>
        </div>
            
    </div>
            
    <div class="banner"></div>
</div>
