<div class="componentBox">

<details name="HardSoftSkills">
    <summary>Skills</summary>
    <div class="circlesRow">
        <span class="circlesBox">
            <circle-progress
                [percent]="60"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'HTML'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>

        <span class="circlesBox">
            <circle-progress
                [percent]="50"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'CSS'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>

        <span class="circlesBox">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'JS'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>

        <span class="circlesBox">
            <circle-progress
                [percent]="30"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'JAVA'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>

        <span class="circlesBox">
            <circle-progress
                [percent]="50"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'SQL'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>

        <span class="circlesBox">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'C++'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>

        <span class="circlesBox">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0064c2'"
                [innerStrokeColor]="'#0b4460'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="true"
                [title]="'Comunicacion'"
                [showSubtitle]="false"
                [units]="''"
            ></circle-progress>
        </span>
        
    </div>
</details>
</div>

